@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Search for a word</h1>

<form action="/Translations/Index" method="get">
    <p>
        <br />
        <input type="text" asp-for="SearchString" class="form-control" />
        <br />
        <input type="submit" value="Search" class="btn btn-primary btn-lg btn-block" />
    </p>
</form>
</div>
